data/original-git/
data/original/paper/
data/original/terminologies/
data/original/TM/
data/original/fb_covid-19.zip
data/original/google_covid-19.zip
data/original/terminologies.zip
data/original/tico19-testset.zip
!.gitignore
!README.md
tmp/

# # temp
# data/original/tico-19-terminology-facebook.csv

# # temp
# data/original/terminology/tico-19-terminology-facebook.csv
# temp
data/tico-19-terminology-google.tm2.hxl.csv
data/tico-19-terminology-facebook.tm2.hxl.csv
